* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: url("fingerpoint.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 410px;
  width: 270px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
img {
  clip-path: circle();
  width: 100px;
  height: 100px;
  margin: auto;
  position: absolute;
  top: -40px;
  left: 85px;
}
h2{
    margin-top: 90px;
}

input {
  display: block;
  margin:20px auto;
  width: 170px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
button{
    width: 110px;
    padding: 5px;
    margin-bottom: 7px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: dodgerblue;
    text-transform: capitalize;
    font-weight: bold;
    color: white;
    transition: all 0s ease;
}
button:hover{
    background-color: chocolate;
    color: chartreuse;
}
p{
    cursor: pointer;
}
